


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #0b3775;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:flex-end;
}

nav li {
    margin-right: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    margin: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-info {
    background-color: #fff;
    padding: 20px;
}

footer {
    background-color: #0b3775;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.us{
    padding-right: 1100px;
}

